:root {
    --site-blue: #182034;
    --site-medium-blue: #29abe2;
    --site-light-blue: #9cd6d5;
    --site-green: #c7e198;
    --site-orange: #eec86b;
    --site-grey: #eeeeef;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    background-color: var(--site-blue);
}

.sjrk-prefsEditor-container {
    background-color: var(--site-blue);
}

.sjrk-st-page-header-container, .sjrk-st-page-footer-container {
    background-color: var(--site-blue);
}

.sjrk-st-page-header-container {
    color: var(--site-light-blue);
}

.sjrk-st-page-footer-container {
    color: white;
}

.sjrk-st-page-header-container {
    padding: 0 3rem 2rem 3rem;
}

.sjrk-st-page-header {
    display: inline-block;
    align-self: center;
    vertical-align: middle;
    font-size: 2.5rem;
    margin: 0;
}

.sjrk-st-page-header-main-title {
    font-weight: 600;
}

.sjrk-st-page-header-subtitle {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
}

.sjrk-st-page-header-heart-book-container {
    display: inline-block;
    align-self: center;
    vertical-align: middle;
    height: 6rem;
    margin: 0 1rem 0 0;
}

.sjrk-st-page-header-heart-book {
    height: 6rem;
    width: 6rem;
}

.sjrk-st-page-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.sjrk-st-page-content-container-one-column {
    display: block;
}

.sjrk-st-small-text {
    font-size: 1rem;
}

.sjrk-st-list-hearts li::before {
    content: "\2764";
    color: var(--site-medium-blue);
    margin-right: 0.25rem;
}

.sjrk-st-list-hearts li {
    list-style-type: none;
    padding-bottom: 1rem;
}

.sjrk-st-button-restore-blocks-container {
    display: none;
}

.sjrk-st-browser-story-container {
    background-color: var(--site-medium-grey);
}

.sjrk-st-browser-story-thumbnail-container {
    background-color: var(--site-blue);
}

.sjrk-st-browser-story-thumnail-placeholder {
    object-fit: contain;
}

.sjrk-st-page-footer-container {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 0.5rem;
    align-items: center;
}

.sjrk-st-page-footer-oak-logo-container {
    padding: 0.2rem 0;
    text-align: center;
}

.sjrk-st-page-footer-hewlett-logo-container {
    padding: 0.2rem 1rem;
}

@media only screen and (max-width: 50em) {
    .sjrk-st-page-header-container {
        padding: 1rem;
    }

    .sjrk-st-page-header,
    .sjrk-st-page-header-heart-book-container {
        font-size: 1.5rem;
    }

    .sjrk-st-page-content-container {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

    .sjrk-st-page-footer-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }

    .sjrk-st-page-footer-text-container,
    .sjrk-st-page-footer-oak-logo-container,
    .sjrk-st-page-footer-hewlett-logo-container {
        grid-column: auto;
    }

    .sjrk-st-page-footer-text-container img,
    .sjrk-st-page-footer-oak-logo-container img,
    .sjrk-st-page-footer-hewlett-logo-container img {
        max-width: 100%;
    }
}
