:root {
    --site-blue: #00a0cc;
    --site-medium-blue: #29abe2;
    --site-light-blue: #66c6e0;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    background-color: var(--site-blue);
}

.sjrk-prefsEditor-container {
    background-color: var(--site-blue);
}

.sjrk-page-header-container, .sjrk-page-footer-container {
    background-color: var(--site-blue);
    color: white;
}

.sjrk-page-header-container {
    padding: 0 3rem 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
}

.sjrk-page-header {
    font-size: 2.5rem;
    font-weight: bold;
    align-self: center;
    margin: 2rem 0;
}

.sjrk-page-header-heart-book-container {
    height: 6rem;
    align-self: center;
}

.sjrk-page-header-heart-book {
    max-height: 6rem;
    width: auto;
}

.sjrk-page-header-mainTitle {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.sjrk-page-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.sjrk-page-content-container-oneColumn {
    display: block;
}

.sjrk-small-text {
    font-size: 1rem;
}

.sjrk-list-hearts li::before {
    content: "\2764";
    color: var(--site-medium-blue);
    margin-right: 0.25rem;
}

.sjrk-list-hearts li {
    list-style-type: none;
    padding-bottom: 1rem;
}

.sjrk-st-button-text-block,
.sjrk-st-button-image-block,
.sjrk-st-story-listen-to {
    background-color: var(--site-light-blue);
}

.sjrk-st-button-restore-blocks-container {
    display: none;
}

.sjrk-st-browser-story-container {
    background-color: var(--site-medium-grey);
}

.sjrk-st-browser-story-thumbnail-container {
    background-color: var(--site-blue);
}

.sjrk-st-browser-story-thumnail-placeholder {
    object-fit: contain;
}

.sjrk-page-footer-container {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 0.5rem;
    align-items: center;
}

.sjrk-page-footer-oakLogo-container {
    background-color: white;
    padding: 0.2rem 0;
    text-align: center;
}

.sjrk-page-footer-hewlettLogo-container {
    background-color: white;
    padding: 0.2rem 1rem;
}

@media only screen and (max-width: 50em) {
    .sjrk-page-header-container {
        padding: 1rem;
    }

    .sjrk-page-header,
    .sjrk-page-header-heart-book-container {
        font-size: 1.5rem;
    }

    .sjrk-page-content-container {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

    .sjrk-page-footer-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }

    .sjrk-page-footer-text-container,
    .sjrk-page-footer-oakLogo-container,
    .sjrk-page-footer-hewlettLogo-container {
        grid-column: auto;
    }

    .sjrk-page-footer-text-container img,
    .sjrk-page-footer-oakLogo-container img,
    .sjrk-page-footer-hewlettLogo-container img {
        max-width: 100%;
    }
}
