body {
    background-color: var(--site-rose);
}

.flc-toc-tocContainer {
    background: var(--site-rose);
}

.sjrk-st-page-header-container {
    padding: 0 1rem;
    display: block;
    text-align: center;
}

.sjrk-st-page-header-logo-container {
    display: none;
}

.sjrk-st-menu {
    display: block;
    grid-template-columns: initial;
    margin: 1rem;
}

.sjrk-st-menu-languages-container {
    text-align: initial;
}

.sjrk-st-karisma-welcome-message-container {
    text-align: center;
}

.sjrk-st-karisma-welcome-message {
    font-size: 4rem;
    font-weight: bold;
    align-self: center;
    color: var(--site-purple);
}

.sjrk-st-karisma-welcome-button-container {
    display: grid;
}

.sjrk-st-karisma-welcome-button-container a {
    display: inline-block;
    color: white;
    background-color: var(--site-purple);
    border: none;
    border-radius: 0.25rem;
    font-size: 2rem;
    padding: 1rem;
    margin: 0.5rem auto;
    min-width: 20rem;
    max-width: 35rem;
    text-decoration: none;
}

@media only screen and (max-width: 50em) {
    .sjrk-st-page-header {
        margin: 0rem 1rem;
    }

    .sjrk-st-karisma-welcome-container {
        grid-template-columns: auto;
    }

    .sjrk-st-karisma-welcome-mascot-container {
        display: none;
    }

    .sjrk-st-karisma-welcome-message {
        margin: 0.5rem 0 2rem 0;
    }

    .sjrk-st-karisma-welcome-button-container a {
        min-width: 16rem;
    }
}
