{
    "include": [
        "**/*.js"
    ],
    "exclude": [
        "tests",
        "reports",
        "coverage",
        "Gruntfile.js",
        "src/server/db/*-dbConfiguration.js"
    ],
    "reporter": "none",
    "report-dir": "reports",
    "temp-dir": "coverage",
    "clean": false
}
