{
    "adminPass": "adminPassword123",
    "session": "session secret",
    "authorCredentialConfig": {
        "digest": "blake2b512",
        "keyLength": 20,
        "iterations": 100
    },
    "https": {
        "cert": "./server-cert.pem",
        "key": "./server-key.pem"
    }
}
