{
    "type": "sjrk.storyTelling.server.config",
    "options": {
        "gradeNames": ["sjrk.storyTelling.server"],
        "components": {
            "server": {
                "options": {
                    "globalConfig": {
                        "port": "8081",
                        "theme": "learningReflections",
                        "themeIndexFile": "introduction.html",
                        "savingEnabled": true
                    }
                }
            }
        }
    }
}
