<div class="sjrk-learningReflections-pageFooter-text-container">
{{localizedMessages.message_footer_text}}
</div>
<div class="sjrk-learningReflections-pageFooter-oakLogo-container">
    <a href="http://www.oakfnd.org/">
        <img src="/src/img/logo_oak.png" alt="Oak Foundation Website" />
    </a>
</div>
<div class="sjrk-learningReflections-pageFooter-hewlettLogo-container">
    <a href="https://www.hewlett.org/">
        <img src="/src/img/logo_hewlett.png" alt="William and Flora Hewlett Foundation Website" />
    </a>
</div>
