<div class="sjrk-storyblock-block" lang="{{dynamicValues.language}}">
    <h3 class="sjrk-storyblock-heading-view">{{dynamicValues.heading}}</h3>
    <p class="sjrk-storyblock-text-view">{{dynamicValues.text}}</p>
    <p class="sjrk-storyblock-text-view">{{dynamicValues.simplifiedText}}</p>
</div>
