<div class="sjrk-st-block" lang="{{dynamicValues.language}}">
    <h3 class="sjrk-st-block-heading-view">{{dynamicValues.heading}}</h3>
    <p class="sjrk-st-block-text-view">{{dynamicValues.text}}</p>
    <p class="sjrk-st-block-text-view">{{dynamicValues.simplifiedText}}</p>
</div>
