<!-- TODO: deal with the heading hierarchy -->
<form class="sjrk-storyTelling-storyEditor">

    <div class="sjrk-storyTelling-label-container">
        <label for="%storyContentIdForLabel">%message_storyContentInputLabel</label>
    </div>

    <div>
        <textarea id="%storyContentIdForLabel" class="%storyContentClasses" cols="30" rows="10" placeholder="%message_storyContentInputPlaceholder"></textarea>
    </div>

    <div class="sjrk-storyTelling-link-container"><a class="%storyListenToClasses" href="">%message_storyListenToText</a></div>

    <div class="sjrk-storyTelling-label-container">
        <label for="%storyTitleIdForLabel">%message_storyTitleInputLabel</label>
    </div>
    <div>
        <input id="%storyTitleIdForLabel" class="%storyTitleClasses" placeholder="%message_storyTitleInputPlaceholder" /> <br/>
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="%storyAuthorIdForLabel">%message_storyAuthorInputLabel</label>
    </div>
    <div>
        <input id="%storyAuthorIdForLabel" class="%storyAuthorClasses" placeholder="%message_storyAuthorInputPlaceholder" />
    </div>

    <div class="sjrk-storyTelling-link-container"><a class="%storyAddPhotosClasses" href="">%message_storyAddPhotosText</a></div>
    <div class="sjrk-storyTelling-link-container">
        <label for="%storyTagsIdForLabel">
            <a class="%storyAddTagsClasses" href="">%message_storyAddTagsText</a>
        </label>
    </div>
    <div>
        <input id="%storyTagsIdForLabel" class="%storyTagsClasses" type="text" placeholder="Tag 1, Tag 2">
    </div>
    <div class="sjrk-storyTelling-link-container"><a class="%storyCreateSummaryClasses" href="">%message_storyCreateSummaryText</a></div>
    <div class="sjrk-storyTelling-link-container"><a class="%storyTranslateClasses" href="">%message_storyTranslateText</a></div>

    <div><button class="%storySubmitClasses" type="button">%message_storySubmitButton</button></div>


</form>
