<!-- TODO: deal with the heading hierarchy -->
<form class="sjrk-storyTelling-storyEditor">

    <div class="sjrk-storyTelling-label-container">
        <label for="%storyContentIdForLabel">Enter story text in the box</label>
    </div>

    <div>
        <textarea id="%storyContentIdForLabel" class="%storyContentClasses" cols="30" rows="10" placeholder="Begin typing here"></textarea>
    </div>

    <div class="sjrk-storyTelling-link-container"><a class="%storyListenToClasses" href="">Listen to my story</a></div>

    <div class="sjrk-storyTelling-label-container">
        <label for="%storyTitleIdForLabel">Story title</label>
    </div>
    <div>
        <input id="%storyTitleIdForLabel" class="%storyTitleClasses" placeholder="Enter title here" /> <br/>
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="%storyAuthorIdForLabel">Your name (optional)</label>
    </div>
    <div>
        <input id="%storyAuthorIdForLabel" class="%storyAuthorClasses" placeholder="Enter your name (optional)" />
    </div>

    <div class="sjrk-storyTelling-link-container"><a class="%storyAddPhotosClasses" href="">Add photos</a></div>
    <div class="sjrk-storyTelling-link-container"><a class="%storyAddTagsClasses" href="">Add theme tags</a></div>
    <div class="sjrk-storyTelling-link-container"><a class="%storyCreateSummaryClasses" href="">Create summary</a></div>
    <div class="sjrk-storyTelling-link-container"><a class="%storyTranslateClasses" href="">Translate my story</a></div>

    <div><button class="%storySubmitClasses">Done</button></div>


</form>
