<!-- TODO: consider adding header text input and level selection for each block -->
<div class="sjrk-storyblock-block">
    <!-- an image preview that is either always shown or only once an image is uploaded or captured -->
    <!-- a button to upload an image from the device -->
    <!-- a button to capture an image from the device's camera (check browser support) -->
    <!-- see Alan's imagecapture spike -->
    <!-- a field to enter alternative text for the image-->
    <!-- a field to enter a description for the image -->
</div>
