<!-- TODO: deal with the heading hierarchy -->
    <div class="sjrk-storyTelling-storyViewer">
        <div class="sjrk-storyTelling-storyPreview">Story Preview</div>
        <div class="%storyTitleClasses">%storyTitle</div>
        <div class="%storyAuthorClasses">by %storyAuthor</div>

        <div class="sjrk-storyTelling-link-container">
            <a class="%storyListenToClasses" href="">Listen to this story</a>
        </div>

        <div class="%storyContentClasses">%storyContent</div>

        <div class="sjrk-storyTelling-link-container">
            <a class="%storyReadMoreClasses" href="">Read more</a>
        </div>

        <div class="sjrk-storyTelling-tags-container">
            Theme tags: <span class="%storyListTagsClasses">%storyTags</span>
        </div>
    </div>

    <div class="grid-12">
    <div class="col-6 sjrk-storyTelling-link-container">
        <a href="" class="%storyShareClasses">Share my story</a>
    </div>

    <div class="col-6 sjrk-storyTelling-link-container">
        <a href="" class="%storySaveNoShareClasses">Save without sharing</a>
    </div>
