:root {
    --site-blue: #182034;
    --site-medium-blue: #29abe2;
    --site-light-blue: #abdddd;
    --site-green: #c7e198;
    --site-orange: #c44400;
    --site-red: #d94540;
    --site-red-orange: #f68b65;
    --site-grey: #eeeeef;
    --site-dark-grey: #d1d2d4;
    --site-teal: #0c7474;
    --site-turquoise: #cbe2e1;
    --site-yellow: #f2d17e;
    --site-font: "Work Sans";
    --site-serif-font: "Vollkorn";
}

body {
    font-family: var(--site-font), sans-serif;
    padding: 0;
}

.sjrk-prefsEditor-container {
    background-color: #fff;
}

.sjrk-st-toc-container {
    background: var(--site-orange);
}

.sjrk-st-page-header-container,
.sjrk-edit-left-container,
.sjrk-st-etiquette-container,
.sjrk-st-page-footer-container {
    display: block;
}

.sjrk-st-page-header-container, .sjrk-st-page-footer-container {
    color: var(--site-blue);
    background-color: #fff;
}

.sjrk-st-page-header-container {
    color: var(--site-light-blue);
}

.sjrk-st-page-header-container {
    padding: 0 2rem 1rem 2rem;
    display: grid;
    grid-template-columns: auto auto;
}

.sjrk-st-page-header {
    display: inline-block;
    font-size: 2.5rem;
    margin: 0;
    line-height: 0.9;
}

.sjrk-st-page-header-main-title {
    font-weight: 600;
    color: var(--site-blue);
    text-transform: uppercase;
}

.sjrk-st-top-menu {
    display: block;
    justify-self: right;
    align-self: end;
    position: relative;
    top: 1.75rem;
}

.sjrk-st-top-menu nav {
    display: inline-block;
}

.sjrk-st-top-menu nav li {
    display: inline-block;
    margin-right: 1rem;
}

.sjrk-st-top-menu nav a,
.sjrk-st-edit-link {
    color: var(--site-blue);
}

.sjrk-st-edit-link {
    border: 2px solid var(--site-blue);
    padding: 0.75rem 2rem;
    border-radius: 1.5rem;
    background: #fff;
    white-space: nowrap;
    text-transform: uppercase;
}

.sjrk-st-page-content-container {
    color: var(--site-blue);
    padding: 0;
}

.sjrk-edit-page-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 4rem;
}

.sjrk-edit-left-container {
    font-size: 1rem;
    line-height: 1.4;
}

.sjrk-edit-left-container p:first-child {
    margin-top: 0;
}

.sjrk-edit-left-container .sjrk-st-context-link-container {
    margin-bottom: 5rem;
}

.sjrk-st-context-link-container {
    text-align: right;
}

.sjrk-st-context-link,
.sjrk-st-intro-links a
 {
    display: inline-block;
    background: #fff;
    border: 1px solid var(--site-blue);
    padding: 0.75rem 1rem;
    border-radius: 1.5rem;
}

.sjrk-st-page-body {
    font-size: 1.5rem;
    line-height: 1.75;
}

.sjrk-st-page-body img {
    max-width: 100%
}

.sjrk-st-page-body h2 {
    font-size: 4rem;
    margin: 0 0 2rem 0;
}

.sjrk-st-page-body h3 {
    color: var(--site-orange);
    margin-top: 0;
}

.sjrk-st-page-body h4 {
    margin: 0;
}

.sjrk-st-page-body p {
    margin: 0;
}

.sjrk-st-page-body section {
    margin: 0 0 2rem 0;
    padding: 0 4rem;
}

.sjrk-st-page-body section.sjrk-st-lr-2column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 5rem;
}

.sjrk-st-lr-serif {
    font-family: var(--site-serif-font);
}

.sjrk-st-lr-knockout {
    background: var(--site-orange);
    color: #fff
}

.sjrk-st-intro-collection {
    max-height: 60rem;
}

.sjrk-st-intro-links a {
    border: 0;
    background: var(--site-blue);
    color: #fff;
    margin-bottom: 1.25rem;
}

.sjrk-st-intro-caret {
    width: 4rem;
    display: block;
    margin-bottom: 5rem;
}

.sjrk-st-intro-share {
    max-width: 50rem !important;
    margin-top: 3rem;
}

.sjrk-st-button-restore-blocks-container {
    display: none;
}

.sjrk-st-browser-story-container {
    background-color: var(--site-medium-grey);
}

.sjrk-st-browser-story-thumbnail-placeholder {
    object-fit: contain;
}

.sjrk-st-story-editor,
.sjrk-st-story-editor + .sjrk-st-story-viewer {
    border: 1px dashed;
    padding: 1.5rem;
    position: relative;
    background: #fff;
}

.sjrk-st-story-editor,
.sjrk-st-story-viewer {
    color: var(--site-blue);
}

.sjrk-st-story-editor .sjrk-st-block {
    background: #fff;
}

.sjrk-st-story-editor .sjrk-st-block input,
.sjrk-st-block-alternative-content input,
.sjrk-st-block-media-description,
.sjrk-st-block-media-alt-text,
.sjrk-st-block-media-transcript {
    font-family: var(--site-font);
    font-size: 1rem;
    padding: 0.25rem;
    background: var(--site-grey);
    border: 1px solid var(--site-dark-grey);
    border-left: none;
    border-right: none;
}

.sjrk-st-block-media-upload-button,
.sjrk-st-block-media-capture-button {
    background: var(--site-dark-grey);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.sjrk-st-top-menu,
.sjrk-st-top-menu a,
.sjrk-st-story-editor-next,
.sjrk-st-story-editor-previous,
.sjrk-st-story-viewer-previous,
.sjrk-st-story-submit,
.sjrk-st-story-share,
.sjrk-st-context-link,
.sjrk-st-intro-links a,
.sjrk-st-edit-link {
    position: relative;
    text-decoration: none;
    font-family: var(--site-font);
    font-weight: 800;
    font-size: 1rem;
}

.sjrk-st-menu {
    display: none;
}

.sjrk-st-lr-browser {
    line-height: 1rem;
    font-size: 1rem;
    padding: 2rem 4rem !important;
}

.sjrk-st-lr-browser h3 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.sjrk-st-lr-browser h3,
.sjrk-st-browser-story-container a {
    color: var(--site-blue);
}

.sjrk-st-browser-view-control-list,
.sjrk-st-browser-view-control-grid {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--site-font);
    color: var(--site-blue);
}

/* .sjrk-st-browser-stories .sjrk-st-browser-view-control-list, */
.sjrk-st-browser-view-control-container.grid .sjrk-st-browser-view-control-grid,
.sjrk-st-browser-view-control-list,
.sjrk-st-browser-view-control-list:hover,
.sjrk-st-browser-view-control-grid:hover {
    font-weight: 800;
    border-bottom: 3px solid var(--site-green);
}

.sjrk-st-browser-view-control-container.grid .sjrk-st-browser-view-control-list {
    font-weight: 400;
    border: none;
}

.sjrk-st-menu-story-builder-title span {
    position: relative;
}

.sjrk-st-menu-story-builder-title-background {
    background: var(--site-light-blue);
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    left: -0.85rem;
    top: -0.5rem;
    width: 8.5rem;
    height: 8rem;
}

.sjrk-st-story-editor-previous img,
.sjrk-st-story-viewer-previous img {
    margin-right: 0.25rem;
}

.sjrk-st-story-submit,
.sjrk-st-story-share,
 {
    background: var(--site-light-blue);
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 1.5rem;
}

.sjrk-st-important-notes {
    font-size: 1rem;
}

.sjrk-st-important-notes h2 {
    font-size: 1.25rem;
    color: var(--site-red-orange);
}

.sjrk-st-menu-languages-container a {
    text-transform: none;
}

.sjrk-st-etiquette {
    background: var(--site-turquoise);
    color: var(--site-blue);
    padding: 1rem 2rem;
    font-size: 1rem;
}

.sjrk-st-etiquette p {
    font-weight: 800;
    margin-top: 0;
}

.sjrk-st-etiquette ul {
    padding-inline-start: 1.25rem;
    margin-bottom: 0;
}

.sjrk-st-page-footer-container {
    padding: 2.5rem 2rem;
    display: grid;
    grid-template-columns: 4fr auto auto auto;
    grid-gap: 1.5rem;
    align-items: center;
    background: var(--site-light-blue);
    color: var(--site-blue);
}

.sjrk-st-page-footer-container a {
    color: var(--site-blue);
}

.sjrk-st-page-footer-text-container {
    border-right: 1px solid var(--site-blue);
    padding-right: 2rem;
    margin-right: 2rem;
}

.sjrk-st-page-footer-oak-logo-container,
.sjrk-st-page-footer-hewlett-logo-container,
.sjrk-st-page-footer-idrc-logo-container {
    align-self: end;
}

.sjrk-st-page-footer-oak-logo-container img {
    width: 6rem;
}

.sjrk-st-page-footer-hewlett-logo-container img {
    width: 15rem;
}

.sjrk-st-page-footer-idrc-logo-container img {
    width: 12rem;
}

@media only screen and (max-width: 50em) {
    .sjrk-st-page-header-container, .sjrk-st-etiquette {
        padding: 1rem;
    }

    .sjrk-st-page-header,
    .sjrk-st-page-header-heart-book-container {
        font-size: 1.5rem;
    }

    .sjrk-st-page-header-heart-book {
        height: 4rem;
        width: 4rem;
    }

    .sjrk-st-page-content-container {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

    .sjrk-st-story-editor {
        padding: 0.5rem;
    }

    .sjrk-st-story-editor,
    .sjrk-st-story-viewer {
        padding: 0.5rem;
    }

    .sjrk-edit-left-container .sjrk-st-context-link-container {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .sjrk-st-top-menu {
        margin-top: 1rem;
    }

    .sjrk-st-page-footer-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }

    .sjrk-st-page-footer-text-container {
        border-right: 0;
        padding-right: 0;
        margin-right: 0;
    }

    .sjrk-st-page-footer-text-container,
    .sjrk-st-page-footer-oak-logo-container,
    .sjrk-st-page-footer-hewlett-logo-container,
    .sjrk-st-page-footer-idrc-logo-container {
        grid-column: auto;
        text-align: center;
        padding-bottom: 1rem
    }

    .sjrk-st-page-footer-text-container img,
    .sjrk-st-page-footer-oak-logo-container img,
    .sjrk-st-page-footer-hewlett-logo-container img,
    .sjrk-st-page-footer-idrc-logo-container img {
        max-width: 100%;
    }
}
