:root {
    --site-dark-blue: #1f2b43;
    --site-green: #c9eb96;
}

.sjrk-st-page-header-logo-container {
    height: 6rem;
    align-self: center;
}

.sjrk-st-page-header-logo {
    max-height: 6rem;
    width: auto;
}
