{{#if dynamicValues.savingEnabled}}
<div lang="{{localizedMessages.language}}" class="sjrk-st-etiquette">
    <p>{{localizedMessages.message_etiquette_title}}</p>
    {{{md localizedMessages.message_etiquette_body}}}
</div>
{{/if}}
