<div class="sjrk-pageHeading-logo-container">
    <img class="sjrk-pageHeading-logo" alt="{{localizedMessages.message_masthead_imageAltText}}" src="/src/karisma/img/logo.png" />
</div>
<h1 class="sjrk-pageHeading">
    <span class="sjrk-pageHeading-mainTitle">{{localizedMessages.message_mastheadTitle}}</span>
</h1>
