<!-- TODO: make this image change depending on the page of the editor being shown -->
<div class="sjrk-storyTelling-karisma-sidebar sjrk-storyTelling-karisma-sidebar-left">
    <img src="/src/karisma/img/person-camera.png" alt="a nice person holding a camera and smiling">
</div>
