<div lang="{{localizedMessages.language}}" class="sjrk-storyTelling-menu-languages-container">
    <a href="javascript:void(0)" class="sjrk-storyTelling-menu-languages-en sjrkc-storyTelling-menu-languages-en">{{localizedMessages.message_menu_english}}</a> |
    <a href="javascript:void(0)" class="sjrk-storyTelling-menu-languages-es sjrkc-storyTelling-menu-languages-es" lang="es">{{localizedMessages.message_menu_spanish}}</a>
</div>
<div class="sjrk-pageHeading-mainTitle">
    <p>{{localizedMessages.message_mastheadTitle}}</p>
</div>
