<div class="">
    <p>{{localizedMessages.message_masthead_title}}</p>
</div>
<div class="sjrk-storyTelling-karisma-welcome-container">
    <div class="sjrk-storyTelling-karisma-welcome-mascot-container">
        <img src="/src/karisma/img/person-waving.png" alt="a nice person waving and a little bird at their feet">
    </div>
    <div class="sjrk-storyTelling-karisma-welcome-message-container">
        <p>{{localizedMessages.message_welcome}}</p>
        <div class="sjrk-storyTelling-karisma-welcome-button-container">
            <!-- TODO: review usage of "name" attr wrt a11y -->
            <button type="button">{{localizedMessages.message_tellAStory}}</button>
            <button type="button">{{localizedMessages.message_browseStories}}</button>
        </div>
    </div>
</div>
