<div class="sjrk-page-header-logo-container">
    <a href="{{dynamicValues.homePageUrl}}">
        <img class="sjrk-page-header-logo" alt="{{localizedMessages.message_masthead_imageAltText}}" src="/src/karisma/img/logo.png" />
    </a>
</div>
<div class="sjrk-page-header">
    <span class="sjrk-page-header-mainTitle">{{localizedMessages.message_mastheadTitle}}</span>
</div>
