<!-- TODO: make this image change depending on the page of the editor being shown -->
<div class="sjrk-storyTelling-karisma-sidebar sjrk-storyTelling-karisma-sidebar-right">
    <img src="/src/karisma/img/sidebar-bananabagpencilbook.png" alt="{{localizedMessages.message_sidebarRightAltText}}">
</div>
