<div lang="{{localizedMessages.language}}" class="sjrk-st-menu-languages-container">
    <a href="javascript:void(0)" class="sjrk-st-menu-languages-en sjrkc-st-menu-languages-en">{{localizedMessages.message_menu_english}}</a> |
    <a href="javascript:void(0)" class="sjrk-st-menu-languages-es sjrkc-st-menu-languages-es" lang="es">{{localizedMessages.message_menu_spanish}}</a>
</div>
<div class="sjrk-st-page-header-main-title">
    <p>{{localizedMessages.message_mastheadTitle}}</p>
</div>
