<div class="sjrk-st-page-header">
    <span class="sjrk-st-page-header-main-title">{{localizedMessages.message_mastheadTitle}}</span>: <span class="sjrk-st-page-header-subTitle">{{localizedMessages.message_masthead_subtitle}}</span>
</div>
<div class="sjrk-st-page-header-heart-book-container">
    <img class="sjrk-st-page-header-heart-book" alt="" src="/src/img/icons/icon-heartBook.png" />
</div>
