<div class="sjrk-st-page-footer-text-container">
{{localizedMessages.message_footer_text}}
</div>
<div class="sjrk-st-page-footer-oak-logo-container">
    <a href="http://www.oakfnd.org/">
        <img src="/src/img/logo_oak.svg" alt="Oak Foundation Website" />
    </a>
</div>
<div class="sjrk-st-page-footer-hewlett-logo-container">
    <a href="https://www.hewlett.org/">
        <img src="/src/img/logo_hewlett.svg" alt="William and Flora Hewlett Foundation Website" />
    </a>
</div>
