<div class="sjrk-st-page-header-heart-book-container">
    <img class="sjrk-st-page-header-heart-book" alt="" src="/src/img/icons/icon-heartbook.svg" />
</div>
<div class="sjrk-st-page-header">
    <p class="sjrk-st-page-header-main-title">{{localizedMessages.message_mastheadTitle}}</p>
    <p class="sjrk-st-page-header-subtitle">{{localizedMessages.message_masthead_subtitle}}</p>
</div>
