<h1 class="sjrk-pageHeading">
    <span class="sjrk-pageHeading-mainTitle">{{localizedMessages.message_mastheadTitle}}</span>: <span class="sjrk-pageHeading-subTitle">{{localizedMessages.message_masthead_subtitle}}</span>
</h1>
<div class="sjrk-pageHeading-heartBook-container">
    <img class="sjrk-pageHeading-heartBook" alt="" src="/src/img/icons/icon-heartBook.png" />
</div>
