<div class="sjrk-st-page-header-heart-book-container">
    <img class="sjrk-st-page-header-heart-book" alt="" src="{{dynamicValues.resourcePrefix}}/themes/img/icons/Book.svg" />
</div>
<div class="sjrk-st-page-header">
    <span class="sjrk-st-page-header-main-title">{{localizedMessages.message_mastheadTitle}}</span>
</div>
