<div class="sjrk-st-page-body">
    <section class="sjrk-st-lr-knockout">
        <h1>{{localizedMessages.message_notFoundTitleText}}</h1>
    </section>
    <section class="sjrk-st-lr-padding">
        <div lang="{{localizedMessages.language}}" class="sjrk-st-story-notFound">
            <h2 class="sjrk-st-story-notFound-heading">{{localizedMessages.message_notFoundTitleText}}</h2>
            <p class="sjrk-st-story-notFound-content">No story could be found with the id <strong class="sjrk-st-story-notFound-storyId">{{dynamicValues.story.id}}</strong>.</p>
            <p class="sjrk-st-story-notFound-content">This story may have been deleted, or your id may be incorrect.</p>
        </div>
    </section>
</div>
