:root {
    --site-blue: #00a0cc;
    --site-medium-blue: #29abe2;
    --site-light-blue: #66c6e0;
    --site-white: #fff;
    --site-grey: #f2f2f2;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

textarea {
    vertical-align: top;
}

.sjrk-learningReflections-prefsEditor-container {
    display: grid;
    background-color: var(--site-blue);
}

.sjrk-learningReflections-toc-container {
    padding-left: 3rem;
}

.sjrk-learningReflections-pageHeading-container, .sjrk-learningReflections-pageFooter-container {
    background-color: var(--site-blue);
    color: var(--site-white);
}

.sjrk-learningReflections-pageHeading-container {
    padding: 0 3rem 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
}

.sjrk-learningReflections-pageHeading {
    font-size: 2.5rem;
    font-weight: bold;
    align-self: center;
}

.sjrk-learningReflections-pageHeading-heartBook-container {
    height: 6rem;
    align-self: center;
}

.sjrk-learningReflections-pageHeading-heartBook {
    max-height: 6rem;
    width: auto;
}

.sjrk-learningReflections-pageHeading-mainTitle {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.sjrk-learningReflections-pageBody-container {
    background-color: var(--site-white);
    padding: 2rem 3rem 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.sjrk-learningReflections-small-text {
    font-size: 1rem;
}

.sjrk-learningReflections-list-hearts li::before {
    content: "\2764";
    color: var(--site-medium-blue);
    margin-right: 0.25rem;
}

.sjrk-learningReflections-list-hearts li {
    list-style-type: none;
    padding-bottom: 1rem;
}

.sjrk-storyTelling-story-editor-content {
    min-height: 20rem;
    background: #f2f2f2; /* TODO: check contrast ratios */
    margin: 1rem 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 1.5rem;
}

.sjrk-storyTelling-block-editor-buttons-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.3rem;
}

.sjrk-storyTelling-block-alternative-content input, .sjrk-storyblock-image-description, .sjrk-storyblock-image-alt-text {
    background: var(--site-grey);
}

.sjrk-storyTelling-block-alternative-content .sjrk-storyblock-heading {
    padding-right: 1.5rem;
}

.sjrk-storyblock-heading-view {
    margin-bottom: 0.5rem;
}

.sjrk-storyblock-text-view {
    margin: 0.5rem 0;
}

.sjrk-storyTelling-button {
    background-color: var(--site-light-blue);
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    border:2px solid #000;
    background-size: cover;
    background-origin: content-box;
    padding: 0.1em;
    background-repeat: no-repeat;
}

.sjrk-storyTelling-button-text-block, .sjrk-storyTelling-button-image-block {
    background-color: var(--site-light-blue);
}

.sjrk-storyTelling-button-text-block {
    background-image: url("../img/icons/icon-textBlock.png");
}


.sjrk-storyTelling-button-image-block {
    background-image: url("../img/icons/icon-imageBlock.png");
}

.sjrk-storyTelling-button-remove-blocks {
    background-image: url("../img/icons/icon-removeBlocks.png");
}

.sjrk-storyTelling-button-restore-blocks {
    background-image: url("../img/icons/icon-restoreBlocks.png");
}

.sjrk-storyTelling-button-restore-blocks-container {
    display: none;
}

.sjrk-storyTelling-button-remove-blocks, .sjrk-storyTelling-button-restore-blocks {
    background-color: var(--site-white);
}

.sjrk-storyTelling-button-restore-blocks {
    border-style: dashed;
    border-color: #CCC;
}

.sjrk-storyTelling-button-text-block-container {
    grid-column: 1;
}

.sjrk-storyTelling-button-image-block-container {
    grid-column: 2;
}

.sjrk-storyTelling-button-remove-blocks-container {
    grid-column: 7;
}

.sjrk-storyTelling-button-restore-blocks-container {
    grid-column: 8;
}

/* Hidden, but accessible */
.sjrk-storyTelling-button-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.sjrk-storyblock-block {
    border: dashed 1px #000;
    position: relative;
    margin: 2rem 0;
}

.sjrk-storyblock-image-preview-container {
    margin: 0 auto;
    background: var(--site-grey);
}

.sjrk-storyblock-image-preview {
    display: block;
}

.sjrk-storyblock-image-preview[src=""] {
    display: block;
    width: 15rem;
    height: 13.5rem;
}

.sjrk-storyblock-selection-checkbox-container {
    position: absolute;
    top: -1.25rem;
    right: -1.25rem;
}

.sjrk-storyblock-selection-checkbox {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
}

.sjrk-storyTelling-label-container:not(:first-child) {
    margin: 1em 0 .25em 0;
}

.sjrk-learningReflections-pageFooter-container {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 0.5rem;
    align-items: center;
}

.sjrk-learningReflections-pageFooter-oakLogo-container {
    background-color: var(--site-white);
    padding: 0.2rem 0;
    text-align: center;
}

.sjrk-learningReflections-pageFooter-hewlettLogo-container {
    background-color: var(--site-white);
    padding: 0.2rem 1rem;
}

@media only screen and (max-width: 50em) {
    .sjrk-learningReflections-pageHeading-container {
        padding: 1rem;
    }

    .sjrk-learningReflections-pageHeading,
    .sjrk-learningReflections-pageHeading-heartBook-container {
        font-size: 1.5rem;
    }

    .sjrk-learningReflections-pageBody-container {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

    .sjrk-learningReflections-pageFooter-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }

    .sjrk-learningReflections-pageFooter-text-container,
    .sjrk-learningReflections-pageFooter-oakLogo-container,
    .sjrk-learningReflections-pageFooter-hewlettLogo-container {
        grid-column: auto;
    }

    .sjrk-learningReflections-pageFooter-text-container img,
    .sjrk-learningReflections-pageFooter-oakLogo-container img,
    .sjrk-learningReflections-pageFooter-hewlettLogo-container img {
        max-width: 100%;
    }
}
