body {
    font-family: sans-serif;
    padding: 0 2em 0 2em;
    font-size: 1.2em;
}

h1 {
    font-weight: normal;
}

input:not([type="checkbox"]) {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

fieldset ul {
    list-style-type: none;
}

.sjrk-storyTelling-menu-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
}

.sjrk-storyTelling-menu-languages-container {
    text-align: right;
}

/* TODO: Initial visibility of the editor pages should not be set in CSS */
.sjrk-storyTelling-storyEditorPage2, .sjrkc-storyTelling-story-previewer {
    display: none;
}

.sjrk-storyTelling-story-headingRight {
    text-align: right;
}

.sjrk-storyTelling-story-heading, .sjrk-storyTelling-readOtherStories {
    margin: 0;
    font-weight: normal;
}

.sjrk-storyTelling-storyContent {
    width: 100%;
}

.sjrk-storyTelling-link-container {
    margin: 1em 0;
}

.sjrk-storyTelling-link-container-right {
    text-align: right;
}

.sjrk-storyTelling-button-container {
    text-align: right;
}

.sjrk-storyTelling-label-container {
    /* margin: 1em 0 .25em 0; */
}

.sjrk-storyTelling-tags-container, .sjrk-storyTelling-language-container, .sjrk-storyTelling-categories-container {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.sjrk-storyblock-block {
    border: solid 2px #000;
    margin: 1em 0;
}

.sjrk-storyblock-uploader-container, .sjrk-storyblock-camera-capture-container {
    display: none;
}

.sjrk-storyblock-image-preview {
    max-width: 100%;
    max-height: 100%;
}

.sjrk-storyTelling-block-alternative-content {
    background: #eee;
}

.sjrk-storyTelling-block-alternative-content input {
    background: #eee;
}

.sjrk-storyTelling-story-viewer .sjrk-storyblock-block {
    border: none;
}

.sjrk-storyTelling-story-previewPane, .sjrk-storyTelling-story-viewer-main-container {
    padding: 1rem;
}

.sjrk-storyTelling-story-viewer-heading-container,
.sjrk-storyTelling-story-viewer-footer-container,
.sjrk-storyTelling-story-editor-footer-container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 1rem;
}

.sjrk-storyTelling-storyPreview {
    background: #fff;
    display: inline-block;
    margin: 0 30%;
    padding: 1em;
    position: absolute;
    top: -1.5em;
    text-align: center;
}

.sjrk-storyTelling-story-viewer .sjrk-storyTelling-storyTitle {
    font-size: 1.5em;
    margin: 0;
}

.sjrk-storyTelling-story-viewer .sjrk-storyTelling-storyListTags,
.sjrk-storyTelling-story-viewer .sjrk-storyTelling-storyLanguage,
.sjrk-storyTelling-story-viewer .sjrk-storyTelling-storyCategories {
    font-weight: normal;
}

.sjrk-storyTelling-view-separator {
    border: 0;
    border-bottom: 1px dashed;
    margin: 2rem 0;
}
