:root {
    --site-grey: #f2f2f2;
    --site-medium-grey: #e6e6e6;
}

body {
    font-family: sans-serif;
    /* padding: 0 2em 0 2em; */
    font-size: 1.2em;
}


.sjrk-prefsEditor-container {
    display: grid;
}

.sjrk-toc-container {
    padding-left: 3rem;
}

h1 {
    font-weight: normal;
}

input:not([type="checkbox"]) {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    vertical-align: top;
}

fieldset ul {
    list-style-type: none;
}

.sjrk-pageBody-container {
    background-color: white;
    padding: 2rem;
}

.sjrk-storyTelling-menu-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
}

.sjrk-storyTelling-menu-languages-container {
    text-align: right;
}

/* TODO: Initial visibility of the editor pages should not be set in CSS */
.sjrk-storyTelling-storyEditorPage2, .sjrkc-storyTelling-story-previewer {
    display: none;
}

.sjrk-storyTelling-story-headingRight {
    text-align: right;
}

.sjrk-storyTelling-story-heading, .sjrk-storyTelling-readOtherStories {
    margin: 0;
    font-weight: normal;
}

.sjrk-storyTelling-storyContent {
    width: 100%;
}

.sjrk-storyTelling-link-container {
    margin: 1em 0;
}

.sjrk-storyTelling-link-container-right {
    text-align: right;
}

.sjrk-storyTelling-block-alternative-content input, .sjrk-storyblock-image-description, .sjrk-storyblock-image-alt-text {
    background: var(--site-grey);
}

.sjrk-storyTelling-block-alternative-content .sjrk-storyblock-heading {
    padding-right: 1.5rem;
}

.sjrk-storyblock-heading-view {
    margin-bottom: 0.5rem;
}

.sjrk-storyblock-text-view {
    margin: 0.5rem 0;
}

.sjrk-storyTelling-button-container {
    text-align: right;
}

.sjrk-storyTelling-button {
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    border:2px solid #000;
    background-size: cover;
    background-origin: content-box;
    padding: 0.1em;
    background-repeat: no-repeat;
    background-color: white;
    cursor: pointer;
}

.sjrk-storyTelling-button-restore-blocks-container {
    display: none;
}

.sjrk-storyTelling-button-restore-blocks {
    border-style: dashed;
    border-color: #CCC;
}

.sjrk-storyTelling-button-text-block-container {
    grid-column: 1;
}

.sjrk-storyTelling-button-image-block-container {
    grid-column: 2;
}

.sjrk-storyTelling-button-remove-blocks-container {
    grid-column: 8;
}

.sjrk-storyTelling-button-restore-blocks-container {
    /* grid-column: 8; */
}

/* Hidden, but accessible */
.sjrk-storyTelling-button-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.sjrk-storyTelling-button-text-block {
    background-image: url("../img/icons/icon-textBlock.png");
}

.sjrk-storyTelling-button-image-block {
    background-image: url("../img/icons/icon-imageBlock.png");
}

.sjrk-storyTelling-button-remove-blocks {
    background-image: url("../img/icons/icon-removeBlocks.png");
}

.sjrk-storyTelling-button-restore-blocks {
    background-image: url("../img/icons/icon-restoreBlocks.png");
}

.sjrk-storyTelling-storyListenTo {
    background-image: url("../img/icons/icon-audioBlock.png");
}

.sjrk-storyTelling-label-container {
    /* margin: 1em 0 .25em 0; */
}

.sjrk-storyTelling-tags-container, .sjrk-storyTelling-language-container, .sjrk-storyTelling-categories-container {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.sjrk-storyblock-block {
    border: dashed 1px #000;
    margin: 2rem 0;
    position: relative;
}

.sjrk-storyblock-uploader-container, .sjrk-storyblock-camera-capture-container {
    display: none;
}

.sjrk-storyblock-image-preview {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.sjrk-storyblock-image-preview-container {
    margin: 0 auto;
    background: var(--site-grey);
}

.sjrk-storyblock-image-preview[src=""], .sjrk-storyblock-image-preview:not([src]) {
    display: block;
    width: 15rem;
    height: 13.5rem;
}

.sjrk-storyblock-selection-checkbox-container {
    position: absolute;
    top: -1.25rem;
    right: -1.25rem;
}

.sjrk-storyblock-selection-checkbox {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
}

.sjrk-storyTelling-label-container:not(:first-child) {
    margin: 1em 0 .25em 0;
}

.sjrk-storyTelling-block-alternative-content {
    background: #eee;
}

.sjrk-storyTelling-block-alternative-content input {
    background: #eee;
}

.sjrk-storyTelling-story-viewer .sjrk-storyblock-block {
    border: none;
}

.sjrk-storyTelling-story-previewPane, .sjrk-storyTelling-story-viewer-main-container {
    padding: 1rem;
}

.sjrk-storyTelling-story-viewer-heading-container,
.sjrk-storyTelling-story-viewer-footer-container,
.sjrk-storyTelling-story-editor-footer-container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 1rem;
}

.sjrk-storyTelling-story-editor-buttons-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.3rem;
}

.sjrk-storyTelling-story-editor-content {
    min-height: 20rem;
    background: var(--site-grey); /* TODO: check contrast ratios */
    margin: 1rem 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 1.5rem;
}

.sjrk-storyTelling-storyPreview {
    background: #fff;
    display: inline-block;
    margin: 0 30%;
    padding: 1em;
    position: absolute;
    top: -1.5em;
    text-align: center;
}

.sjrk-storyTelling-story-viewer .sjrk-storyTelling-storyTitle {
    font-size: 1.5em;
    margin: 0;
}

.sjrk-storyTelling-story-viewer .sjrk-storyTelling-storyListTags,
.sjrk-storyTelling-story-viewer .sjrk-storyTelling-storyLanguage,
.sjrk-storyTelling-story-viewer .sjrk-storyTelling-storyCategories {
    font-weight: normal;
}

.sjrk-storyTelling-view-separator {
    border: 0;
    border-bottom: 2px dashed;
    margin: 2rem 0;
}

.sjrk-storyTelling-story-browser {

}

.sjrk-storyTelling-story-browser-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sjrk-storyTelling-browser-story-container {
    margin: 1rem 0;
}

.sjrk-storyTelling-browser-story-container:last-child {
    margin-bottom: 0;
}

.sjrk-storyTelling-browser-story-container a {
    color: black;
    text-decoration: none;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
}

.sjrk-storyTelling-browser-story-thumbnail-container {
    margin: .25rem;
    height: 7rem;
    width: 7rem;
}

.sjrk-storyTelling-browser-story-thumbnail {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}

.sjrk-storyTelling-browser-stories.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 20rem));
    grid-gap: 2rem;
    margin-top: 1rem;
}

.sjrk-storyTelling-browser-stories.grid .sjrk-storyTelling-browser-story-container {
    margin: 0;
}

.sjrk-storyTelling-browser-stories.grid .sjrk-storyTelling-browser-story-container a {
    grid-template-columns: auto;
}

.sjrk-storyTelling-browser-stories.grid .sjrk-storyTelling-browser-story-thumbnail-container {
    margin: 0;
    width: 100%;
    height: auto;
}

.sjrk-storyTelling-browser-story-details {
    display: inline-block;
    padding: 1rem;
}

.sjrk-storyTelling-browser-story-title {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
}

.sjrk-storyTelling-browser-story-author,
.sjrk-storyTelling-browser-story-tags,
.sjrk-storyTelling-browser-story-contains {
     margin: 0.4rem 0rem;
}

@media only screen and (max-width: 50em) {
    .sjrk-storyTelling-browser-stories.grid {
        display: block;
        grid-template-columns: initial;
        grid-gap: initial;
        margin-top: 0;
    }

    .sjrk-storyTelling-browser-stories.grid .sjrk-storyTelling-browser-story-container {
        margin: 1rem 0;
    }

    .sjrk-storyTelling-browser-stories.grid .sjrk-storyTelling-browser-story-container a {
        grid-template-columns: auto 1fr;
    }

    .sjrk-storyTelling-browser-stories.grid .sjrk-storyTelling-browser-story-thumbnail-container {
        margin: .25rem;
        height: 7rem;
        width: 7rem;
    }
}
