body {
    font-family: sans-serif;
    padding: 0 2em 0 2em;
    font-size: 1.2em;
}

#sjrk-storyTelling-Editor2 {
    display: none;
}

.sjrk-storyTelling-story-heading, .sjrk-storyTelling-readOtherStories {
    margin: 0;
}

.sjrk-storyTelling-storyContent {
    width: 100%;
}

.sjrk-storyTelling-link-container {
    margin: 1em 0;
}

.sjrk-storyTelling-label-container {
    margin: 1em 0 .25em 0;
}

.sjrk-storyTelling-tags-container, .sjrk-storyTelling-language-container {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.sjrk-storyTelling-storyViewer {
    border: solid 1px #000;
    position: relative;
    padding: 2em;
}

.sjrk-storyTelling-storyPreview {
    background: #fff;
    display: inline-block;
    margin: 0 30%;
    padding: 1em;
    position: absolute;
    top: -1.5em;
    text-align: center;
}

.sjrk-storyTelling-storyViewer .sjrk-storyTelling-storyTitle {
    font-size: 1.5em;
}

.sjrk-storyTelling-storyViewer .sjrk-storyTelling-storyAuthor {
    font-size: 1.25em;
}

.sjrk-storyTelling-storyViewer .sjrk-storyTelling-storyListTags, .sjrk-storyTelling-storyViewer .sjrk-storyTelling-storyLanguage {
    font-weight: normal;
}
