<nav>
    <ul>
        <li><a href="#workshops">{{localizedMessages.intro_anchor_workshops_text}}</a></li>
        <li><a href="#publish">{{localizedMessages.intro_anchor_publish_text}}</a></li>
        <li><a href="#participate">{{localizedMessages.intro_anchor_participate_text}}</a></li>
    </ul>
</nav>
