<div class="sjrk-st-workshops-body">
    <section>
        <div>
            <h2>{{localizedMessages.workshops_title}}</h2>
            {{{md localizedMessages.workshops_p1_text}}}
        </div>
        <div>
            <img src="src/learningReflections/img/storytelling_workshop_5.png" alt="{{localizedMessages.workshops_fig1_image1_alt_text}}">
            <img src="src/learningReflections/img/storytelling_workshop_6.png" alt="{{localizedMessages.workshops_fig1_image2_alt_text}}">
        </div>
    </section>
</div>
