<span class="sjrkc-testTemplateManager-testId1">{{#getIds "test"}}$id{{/getIds}}</span>
<span class="sjrkc-testTemplateManager-testId2">{{#getIds "test"}}$id{{/getIds}}</span>
<br />
<span class="sjrkc-testTemplateManager-testId3">{{#replace "Test input string" "input" "output"}}{{/replace}}</span>
