<form lang="{{localizedMessages.language}}" class="sjrk-st-login-form sjrkc-st-login-form">
    {{!--
        - The login form goes here:
            - emailInput
            - passwordInput
            - confirmInput
            - logInButton
            - progress indicator?
            - error text area
    --}}
</form>
