<div class="sjrk-st-page-body">
    <section class="sjrk-st-lr-knockout">
        <h1>{{localizedMessages.welcome_title}}</h1>
    </section>
    <section class="sjrk-st-lr-2column">
        <div class="sjrk-st-aihec-welcome-message">
            <h2>{{localizedMessages.welcome_text1}}</h2>
            {{{md localizedMessages.welcome_text2}}}
        </div>
        <img class="sjrk-st-aihec-welcome-image" src="img/AIHEClogo.svg" alt="{{localizedMessages.aihec_logo_alt_text}}">
    </section>
</div>
