<div class="sjrk-st-page-body">
    <section class="sjrk-st-lr-knockout">
        <h1>{{localizedMessages.welcome_title}}</h1>
    </section>
    <section class="sjrk-st-lr-padding sjrk-st-aihec-welcome-message">
        {{{md localizedMessages.welcome_text}}}
    </section>
</div>
