<div class="sjrk-st-page-header">
    <a href="/" class="sjrk-st-page-header-main-title">{{{localizedMessages.mastheadTitle}}}</a>
</div>
<div class="sjrk-st-top-menu">
    <nav>
        <ul>
            <li><a href="storyBrowse.html">{{localizedMessages.link_browse_text}}</a></li>
        </ul>
    </nav>
    {{#if dynamicValues.authoringEnabled}}
        <a class="sjrk-st-edit-link" href="{{localizedMessages.editor_url}}">{{localizedMessages.link_edit_text}}</a>
    {{/if}}
</div>
