:root {
    --site-blue: #00a0cc;
    --site-white: #fff;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

.sjrk-learningReflections-pageHeading-container, .sjrk-learningReflections-pageFooter-container {
    background-color: var(--site-blue);
    color: var(--site-white);
}

.sjrk-learningReflections-pageHeading-container {
    padding: 2rem 3rem 2rem 3rem;
}

.sjrk-learningReflections-pageHeading {
    font-size: 2.5rem;
    font-weight: bold;
}

.sjrk-learningReflections-pageHeading-mainTitle {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.sjrk-learningReflections-pageBody-container {
    background-color: var(--site-white);
    padding: 2rem 3rem 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.sjrk-learningReflections-introduction-container {
    grid-column: 1;
}

.sjrk-learningReflections-story-editor-container {
    grid-column: 2;
}

.sjrk-learningReflections-small-text {
    font-size: 1rem;
}

.sjrk-learningReflections-list-hearts li::before {
    content: "❤ ";
    color: var(--site-blue);
}

.sjrk-learningReflections-list-hearts li {
    list-style-type: none;
    padding-bottom: 1rem;
}

.sjrk-storyTelling-block-editor-buttons-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.3rem;
}

.sjrk-storyTelling-button {
    background-color: var(--site-blue);
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    border:2px solid #000;
}

.sjrk-storyTelling-button-text-block, .sjrk-storyTelling-button-image-block {
    background-color: var(--site-blue);
}

.sjrk-storyTelling-button-remove-blocks, .sjrk-storyTelling-button-restore-blocks {
    background-color: var(--site-white);
}

.sjrk-storyTelling-button-restore-blocks {
    border-style: dashed;
    border-color: #CCC;
}

.sjrk-storyTelling-button-text-block-container {
    grid-column: 1;
}

.sjrk-storyTelling-button-image-block-container {
    grid-column: 2;
}

.sjrk-storyTelling-button-remove-blocks-container {
    grid-column: 7;
}

.sjrk-storyTelling-button-restore-blocks-container {
    grid-column: 8;
}

/* Hidden, but accessible */
.sjrk-storyTelling-button-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.sjrk-storyTelling-button-text-block::before {
    content: "T"
}

.sjrk-storyTelling-button-image-block::before {
    content: "📷"
}

.sjrk-storyTelling-button-remove-blocks::before {
    content: "🗑️"
}

.sjrk-storyTelling-button-restore-blocks::before {
    content: "↩️"
}

.sjrk-storyblock-selection-checkbox-container {
    text-align: right;
}

.sjrk-storyblock-selection-checkbox {
    height: 2rem;
    width: 2rem;
    display: inline-block;
}

.sjrk-learningReflections-pageFooter-container {
    font-size: 1.8rem;
    padding: 1rem 3rem 1rem 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sjrk-learningReflections-pageFooter-text-container {
    grid-column: 1 / 4;
    align-self: center;
}

.sjrk-learningReflections-pageFooter-floeLogo-container {
    grid-column: 5;
    background-color: var(--site-white);
}
